.version.index /* version checker */
{
	color: #000015;
	background-color: #47C3A8;
}

.html
{
	background-color: #FEFCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #93BEFF;
	border-radius: 10px 10px 0px 0px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -184px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u336
{
	z-index: 3;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u355
{
	z-index: 5;
	width: 783px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 167px;
}

#menuu171
{
	z-index: 107;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: -13px;
	left: 0px;
}

#u186
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u189
{
	width: 190px;
	background-color: #7392FF;
	padding-bottom: 10px;
	position: relative;
}

#u189:hover
{
	background-color: #6391FF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u189:active
{
	background-color: #637FFF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u172
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u175
{
	width: 190px;
	background-color: #7392FF;
	padding-bottom: 10px;
	position: relative;
}

#u175:hover
{
	background-color: #6391FF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u175:active
{
	background-color: #637FFF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u179
{
	width: 190px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u180
{
	width: 190px;
	background-color: #7392FF;
	padding-bottom: 10px;
	position: relative;
}

#u180:hover
{
	background-color: #6391FF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u180:active
{
	background-color: #637FFF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u189.MuseMenuActive,#u175.MuseMenuActive,#u180.MuseMenuActive
{
	background-color: #7392FF;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u191-4_clip,#u177-4_clip,#u182-4_clip
{
	overflow: hidden;
	width: 190px;
	height: 24px;
	vertical-align: top;
}

#u361
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u362
{
	width: 191px;
	background-color: #7392FF;
	padding-bottom: 10px;
	position: relative;
}

#u362:hover
{
	background-color: #6391FF;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u362:active
{
	background-color: #637FFF;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u368
{
	width: 191px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u371
{
	width: 191px;
	background-color: #7392FF;
	padding-bottom: 10px;
	position: relative;
}

#u371:hover
{
	background-color: #6391FF;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u371:active
{
	background-color: #637FFF;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u362.MuseMenuActive,#u371.MuseMenuActive
{
	background-color: #7392FF;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u191-4,#u177-4,#u182-4,#u364-4,#u372-4
{
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u364-4_clip,#u372-4_clip
{
	overflow: hidden;
	width: 191px;
	height: 24px;
	vertical-align: top;
}

#u191-4_img,#u177-4_img,#u182-4_img,#u364-4_img,#u372-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#donate
{
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u377-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	margin-top: 26px;
	position: relative;
}

#u382-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	position: relative;
}

#about
{
	margin-left: 5px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u378-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	margin-top: 24px;
	position: relative;
}

#phowtohelp
{
	width: 0.01px;
}

#howtohelp
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 305px;
}

#u384-11
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#u379-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	margin-top: 22px;
	position: relative;
}

#u385-40
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#otherresources
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 696px;
}

#u400
{
	z-index: 138;
	width: 352px;
	min-height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#u380-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	margin-top: 28px;
	position: relative;
}

#pu336,#pu385-40,#pcontact
{
	width: 0.01px;
	margin-left: 5px;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 165px;
}

#u393-15
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u381-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	margin-top: 22px;
	position: relative;
}

#u395-6
{
	z-index: 97;
	display: block;
	vertical-align: top;
	margin-left: 27px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 231px;
}

#page .verticalspacer
{
	clear: both;
}

